.premium{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    text-align: center;
    border: 1px solid #999;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 8px;
    background-color: var(--twitter-background);    
}
.card > h4{
    font-size: 18px;
}
.card > ul{
    list-style: none;

}
li{
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
}
.card >button{
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    background-color: var(--twitter-color);
    width: 40%;
}
.card >button:hover{
    background-color: rgb(127, 229, 255);
}